<!DOCTYPE html>
<html lang="utf-8">
<head>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<h1>Weather Results</h1>
<p><strong>City: </strong><%= weather.city %></p>
<p><strong>Temperature: </strong><%= weather.temperature %></p>
<p><strong>Description: </strong><%= weather.description %></p>
<a href="/">Search Again</a>
</body>
</html>